@charset "utf-8";

input[type="button"] {
    border: 1px solid;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 5px;
}

input[data-participation="0"] {
    border-color: #aaa;
    background-color: #fff;
    color: #555;
}

input[data-participation="1"] {
    border-color: #4caf50;
    background-color: #dff0d8;
    color: #2e7d32;
}

input[data-participation="2"] {
    border-color: #f44336;
    background-color: #fdecea;
    color: #c62828;

}


td.gridjs-td {
    padding: 5px;
}

th.gridjs-th {
    padding: 5px;
}

/* -- .slide-down -------------------------------------------------------------------------------------------- */

.slide-down:after {
    content: " ▼";
}

.slide-down:hover {
    cursor: pointer;
}


.active:after {
    content: " ▲";
}




/* -- div.slide-* -------------------------------------------------------------------------------------------- */

div.slide-1,
div.slide-2,
div.slide-3,
div.slide-4,
div.slide-5,
div.slide-6,
div.slide-7,
div.slide-8 {
    display: none;
}